/*.modal-open > :not(.loginModal, .modal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-close > :not(.modal) {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}
 .modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(5px) grayscale(90%);
}
*/
.MYBACK {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  background-color: blue;
  color: white;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
