.Main-app {
  background-color: #282c34;
  color: white;
  min-height: 100vh; /*make app user 100% of the width*/
}

.App-link {
  color: #09d3ac;
}

.result-view {
  border: 2px solid black;
}

.tools {
  border: 2px solid darkblue;
}

.elements {
  border: 2px solid darkcyan;
}
